/* Import the Poppins font from Google Fonts */
@import url("https://font.googleapis.com/css2?family=Poppins");

/* Styling for the navigation bar container */
.nav {
    box-sizing: border-box;
    margin: 0;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-family: "Poppins", sans-serif;
    gap: 2rem;
    padding: 0 1rem;
}

/* Styling for the site title */
.site-title {
    font-size: 2rem;
}

/* Styling for the unordered list */
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* Styling for anchor links within the navigation bar */
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;

    /* Styling for the anchor link when hovered */
    display: flex;
    align-items: center;
    padding: .25rem;
}

/* Styling for active list items */
.nav li:active {
    background-color: #555;
}

/* Styling for hovered list items */
.nav li:hover {
    background-color: #777;
}
