.float-right {
  float: right;
}

.subtle-styled-text {
  color: #888;
  font-size: 12px;
}

.event-card {
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
  height: 125px;
  margin-bottom: 25px;
  transition: all 300ms ease-out;
  width: 100%;
  margin-left: 20px;
}

.event-card:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
}

.event-image-container {
  background: none;
  float: left;
  height: 100%;
  width: 12.5%;
  position: relative;
}

.event-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

@media screen and (max-width: 1919px) and (max-height: 1079px) {
  .event-image {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
  }
}

.event-image:after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-out;
  z-index: 10;
}

.event-image-social-list {
  bottom: 4px;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 20;
}

.event-image-social-list li {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin-right: 6px;
  opacity: 0;
  overflow: hidden;
  transform: translateY(5px);
  transition: all 300ms ease-out;
  width: 30px;
  object-fit: cover;
}

.event-image-social-list-item-image {
  height: 100%;
  width: 100%;
}

.event-card:hover .event-image-social-list li {
  opacity: 1;
  transform: translateY(0);
}

.event-image-social-list li:nth-child(1) {
  transition-delay: 0;
}

.event-image-social-list li:nth-child(2) {
  transition-delay: 75ms;
}

.event-image-social-list li:nth-child(3) {
  transition-delay: 150ms;
}

.event-image-social-list-item-additional {
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  padding-top: 7px;
  text-align: center;
}

.event-body {
  background-color: #fff;
  float: left;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  width: 87.5%;
}

.event-body-top {
  display: block;
}

.event-body-middle {
  flex-grow: 1;
  display: block;
  margin-top: 10px;
  color: black !important;
}

.event-name {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.event-description {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}


.event-body-bottom {
  position: absolute;
  /* should be ok because it anchors to nearest positioned ancestor */
  bottom: 10px;
  left: 0;
  opacity: 1;
  padding: 0 15px;
  transition: all 300ms ease-out;
  width: 100%;
}

.event-location {
  text-transform: capitalize;
}

.event-card:hover .event-body-bottom {
  opacity: 0;
  transform: translateY(-8px);
}

.event-body-bottom-text {
  display: inline-block;
}

.event-body-bottom-reveal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateY(-8px);
  transition: all 300ms ease-out;
}

.event-card:hover .event-body-bottom-reveal {
  opacity: 1;
  transform: translateY(0);
}

.event-button {
  color: #41C1F2;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.delete-button {
  margin-right: 10px;
}

.event-button {
  padding: 0em 1em;
  transition: all 300ms ease-out;
}

.event-button:hover {
  scale: 1.2;
  transition: all 300ms ease-out;
}

.event-button:focus {
  outline: none;
}

.popup-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: left;
}

.popup-location {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: auto;
}

.popup-friend-names {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: auto;
}

.popup-event-creator {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: auto;
}

.popup-event-link {
  clear: both;
  margin-bottom: auto;
}

/* .popup-event-description {

} */